@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Oswald&display=swap');

/*---General---*/

*{
    box-sizing: border-box;
}

body {
    background-color: #F5F5DC;
    font-family: bitter;
    margin: 0;
    padding: 0;
}

/*-------NAVBAR SECTION-------*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #a1a1a1;
    min-height: 8vh;
}

.navbar-brand {
    display: inline-block;
    margin-left: 25px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(230, 230, 250);
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li a {
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.navbar-toggler {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.navbar-toggler-icon {
    height: 3px;
    width: 100%;
    border-radius: 10px;
}

h2 {
    letter-spacing: 1px;
}

.h2, h2 {
    font-size: 2rem;
    color: rgb(230, 230, 250);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu li {
    float: right;
    margin: 10px;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

#castle-one {
    height: 600px;
    width: 100%;
    background: url("../images/peyrepertuse_landing_v.jpg") no-repeat center center;
    animation-name: castle-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#castle {
    height: 600px;
    width: 100%;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
}

@keyframes castle-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#castle-text{
    color: #ffffff;
    font-size: 200%;
    font-family: Oswald;
    width: 350px;
    height: 170px;
    padding-top: 20px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, 0.7);
    bottom: 40px;
    right: 100px;
    position: absolute;
}

/*------- History -------*/



/*-------Experience-------*/

.carousel {
    position: relative;
    
}

.h1, h1 {
    font-size: 2.5rem;
    text-decoration: underline;
    text-align: center;
    margin: 0 0 15px 15px;
}

.paragraph-text {
    text-align: justify;
    letter-spacing: 0.5px;
    margin-left: 5px 5px 5px 5px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 15px;
    margin-right: 15px;
}

/*-------Cathar Video-------*/

.cathar-map {
    float: right;
    width: 50%;
    padding-top: 50px;
}

.cathar-video {
    padding-top: 40px;
    margin-top: 1rem;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.ytp-watch-later-icon {
    margin: auto;
    width: 36px;
    height: 36px;
    position: relative;
    display: none;
}


/*-------Testimonials-------*/

.item-active h1 {
    text-transform: uppercase;
}

.testimonial-overlay {
    background-color: rgba (31, 31, 31, 0.75);
    padding-top: 20px;
    padding-bottom: 80px;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 7%;
}


.carousel-inner .item-active img {
    border: 2px solid #129cf3;
    border: 50%;
    border-radius: 50%;
    padding: 3px;
}

.testimonial-caption {
    padding-bottom: 30px;
}

.testimonial-caption h2 {
    color: #129cf3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}

.testimonial-caption h4 {
    color: #129cf3;
}

.testimonial-caption h4 span {
    color: #129cf3;
    font-style: italic;
    font-weight: 300;
}

.testimonial-caption p {
    font-size: 18px;
    line-height: 27px;
    padding-top: 30px;
}

.score-wrap {
    color: gold;
}

/*-------Castles-------*/

.castles h1 {
    padding-top: 7%;
    text-align: center;
}

#maps {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

/*-------Contact Us-------*/

.contact-head {
    padding-top: 100px;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.section-title h1 {
    text-transform: uppercase;
}

.form-subject {
    margin-top: 1rem;
    font-size: 14px;
}

.query-form {
    font-weight: 400;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.form-control {
    display: block;
    width: 75%;
    margin-left: 13%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.h5, h5 {
    font-size: 1.25rem;
    padding: 10px;
}

.btn {
    display: block;
    margin-top: 40px;
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

/*-------Footer-------*/

.footer-top {
  background: rgb(128, 4, 4);
  padding: 10px 0px;
  color: #fafafa;
}

.social-icons h2{
    text-transform: uppercase;
    text-align: center;
}

.social-icons {
    padding-top: 10px;
    padding-bottom: 20px;
}

.social-icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.social-icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.social-icons ul li a:hover {
    background-color: #129cf3;
    border: 1px solid #129cf3;
    color: #fff;
}    

.social-icons ul li a i {
    font-size: 20px;
}

/*-------Media Queries-------*/


