@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&display=swap');

/*---General---*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url("../images/french_flag_v2.jpg");
    color: #f4f4f4;
}